<p>
    <%= f.label :day %>
    <%= f.collection_select(:day, WeekDay.all, :name, :name, {:include_blank => true }) %>
</p>
                                          
<% f.fields_for :slots do |slot| %>
  <%= render 'slot_fields', :f => slot %>
<% end %>