<%= form_for(@student) do |f| %>
    <%= render 'shared/errors', :target=>@student %>
    <%= render 'shared/student_fields', :f=>f %>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
