<%= form_for(@student) do |f| %>
    <div class="field">
        <% Batch.all.each do |batch| %>
            <%= check_box_tag "student[batch_ids][]", batch.id, @student.batches.include?(batch) %>
            <%= batch.code %>
        <% end %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>