
#content-heading {
    display:table;
    text-align:center;
    height:50px;
    width:100%;
    color: navy;
    /*background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.27, rgb(240,118,99)), color-stop(0.57, rgb(67,67,97)));*/
    /*background-image: -moz-linear-gradient(right bottom, rgb(240,118,99) 27%, rgb(67,67,97) 57%);*/
    background-image: -webkit-gradient(linear,left bottom,left top,from(#EDEDED),to(#FFFFFF));
    background-image: -moz-linear-gradient(center bottom, #EDEDED,#FFFFFF);

}

#content-body {
    display: table;
    width: 100%;
    margin: auto;
}
#description-bar {
    font-weight: bold;
}

.data-bar, #description-bar {
    display: table-row;
}

.data-bar:hover{
  background-image: -webkit-gradient(linear,left bottom,left top,from(#EDEDED),to(#FFFFFF));
  background-image: -moz-linear-gradient(center bottom, #EDEDED,#FFFFFF);
}

#action-bar{
    margin-top:10px;
    text-align:right;
}

.code, .description, .actions {
    display: table-cell;
}

.cell-data{
    display: table-cell;
}

.code {
    width: 20%;
}

.description {
    width: 40%;
}

.actions {
    width: 20%;
    text-align: center;
}

.action-cell {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
}

.action-cell p {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

#details-container{
    width:100%;
    border: 1px solid black;
    display :-webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
}

#details-container #course-categories{
     -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

#details-container #batches-available{
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
}

#details-container #courses-available{
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
}

.type3Details{
    display :none;
}

