
.data-bar, #description-bar {
    display: table-row;
}

.data-bar:hover{
  background-image: -webkit-gradient(linear,left bottom,left top,from(#EDEDED),to(#FFFFFF));
  background-image: -moz-linear-gradient(center bottom, #EDEDED,#FFFFFF);
}

.cell-data{
    display: table-cell;
}

.action-cell {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
}

.action-cell p {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
