body, ul, li, p {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana;
}

ul {
    list-style-type: none;
}

#main {
    display: -webkit-box;
    margin: auto;
}

#cat {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#month,
#week {
    -webkit-box-flex: 8;
    display: -webkit-box;
    height: 40px;
    background-color: black;
    color: white;
}

#month p,
#week p {
    -webkit-box-flex: 1;
    text-align: center;
    border-right: 1px solid gray;
    height: 40px;
    line-height: 40px;
}

#left-pane {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    background-color: black;
    color: white;
}

#left-pane li {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#right-pane {
    -webkit-box-flex: 8;
    -webkit-box-orient: vertical;
}

#left-scroller,
#right-scroller {
    position: relative;
    z-index: 1;
}

#list {
    -webkit-box-flex: 1;
    overflow: hidden;
    height: 100%;
}

#section {
    -webkit-box-flex: 1;
    overflow: hidden;
    height: 100%;
    padding: 10px;
}

#section li {
    padding-bottom: 10px;
}