@charset
"utf-8"
;

.timetable {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 75%;
    overflow: hidden;
    border: solid 1px #D8D8C7;
    background-color: #E2E1D6;
    height: 110px;
    /*left: 0;*/
    margin: auto;
}

.timetable .hourHolder {
    width: 3072px;
}

.timetable .hourHolder .hour {
    float: left;
    width: 120px;
    background-color: #EEEEEA;
    color: #666;
    border-color: #FFF #BCBE9C #BCBE9C #FFF;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.timetable .eventHolder .event {
    height: 62px;
    float: left;
    background-color: #EEEEEA;
    font-weight: 700;
    color: #666;
    cursor: pointer;
    border-color: #FFF #BCBE9C #BCBE9C #FFF;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.timetable .eventHolder {
    clear: both;
    width: 3072px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(/images/back.gif);
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0 0;
    overflow: hidden;
}

.timetable .eventHolder .event:hover {
    height: 62px;
    float: left;
    background-color: #F4F4F2;
    font-weight: 700;
    color: #666;
    cursor: pointer;
    padding: 3px;
}

.timetable .controls a.left {
    left: 120px;
}

.timetable .controls a {
    background-color: #EEEEEA;
    font-weight: 700;
    color: #666;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    border-color: #FFF #BCBE9C #BCBE9C #FFF;
    border-style: solid;
    border-width: 1px;
    margin: 15px;
    padding: 8px 10px;
}

.timetable .controls a.right {
    right: 120px;
}