<div id="content-heading">
    <h1>Day Details</h1>
</div>

<p>
    <b>Day</b>
    <%= @day.day %>
</p>

<p>
    <b>Slots Available</b><br/>
    <%@day.Slots.each do |slot|%>
        <%= slot.description %><br/>
    <% end %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', day_path %>